{
  "extends": ["react-app", "plugin:jsx-a11y/recommended", "airbnb-base/legacy"],
  "plugins": ["jsx-a11y"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
        "shallow": false,
        "render": false,
        "mount": false,
        "toJson": false
    }
}
