.dashboard {
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin: 20px 20px 20px 20px;
}
.control-panel {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  border: dashed 1px;
}
.control-panel-params {
  margin: 5px 20px 5px 20px;
  display: grid;
  grid-auto-rows: 40px;
}
.control-panel-actions {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  border: dashed 1px red;
}

.control-panel-action {
  border-radius: 5%;
  border: dashed 1px blue;
}
.control-panel-select {
  width: auto;
}
.control-panel-param {
  border: dashed 1px green;
}
.device-panel {
  display: grid;
  grid-template-rows: 1fr 5fr;
  border: solid 1px;
}
.device-list {
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: 50px;
}
.device {
  margin-left: 20px;
  margin-right: 20px;
  border: dashed 1px;
}
.viz-panel {
  display: grid;
  grid-template-rows: 1fr 5fr;
  border: solid 1px;
}
.viz-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 200px);
}
.viz {
  height: 200px;
  width: 300px;
  border: dashed 1px;
}
.visible {
}

.hidden {
  display: none;
}
