.dashboard {
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin: 20px 20px 20px 20px;
}
.thing-panel {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border: solid 1px;
}
.viz-panel {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border: solid 1px;
}

.control-panel {
  display: grid;
  grid-auto-rows: 1fr 4fr;
  border: dashed 1px;
}
.control-panel-params {
  margin: 5px 20px 5px 20px;
  display: grid;
  grid-auto-rows: 20px;
}
.viz-control-panel-params {
  margin: 5px 20px 5px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20px;
  grid-column-gap: 50px;
  grid-row-gap: 1em;
}
.control-panel-actions {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  border: dashed 1px red;
}

.control-panel-action {
  border-radius: 5%;
  border: dashed 1px blue;
}
.control-panel-select {
  width: auto;
}
.control-panel-param {
  border: dashed 1px green;
}

.thing-list {
}
.thing {
  margin-left: 20px;
  margin-right: 20px;
  border: dashed 1px;
}
.thing-property {
  margin-left: 20px;
  margin-right: 20px;
  border: dashed 1px orange;
}
.thing-action {
  margin-left: 20px;
  margin-right: 20px;
  border: dashed 1px blue;
}
.thing-description {
  font-size: 0.7em;
}

.viz-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 200px);
}
.viz {
  height: 200px;
  width: 300px;
  border: dashed 1px;
}
.viz-property {
}
.viz-action {
  padding: 20px 20px 20px 20px;
}
.viz-action label {
  padding-right: 20px;
}

.visible {
}

.hidden {
  display: none;
}
.switch {
  display: grid;
  grid-template-rows: repeat(2, 40px);
  border: dashed 1px red;
}
.switch-label {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  border: dashed 1px blue;
  text-align: center;
}
/* The switch - the box around the slider */
.switch-box {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch-box input {
  display: none;
}

/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.switch-info-true {
  color: green;
}
.switch-info-false {
  color: red;
}
.switch-name {
  text-align: center;
}
.switch-timestamp {
  text-align: center;
}
