.getstarted {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 1em;
}

.getstarted > div {
  padding: 1em;
  background: #7899D4;
  color:black;
}

.getstarted a{
  text-decoration: none;
  color: black;
}

.getstarted-sidebar {
  top: 30px;
  max-height: 200px;
  position: sticky;
  text-align: center;
}
