/*======================================
            General
======================================*/
.container {
  display: grid;
  grid-gap: 1em;
}

.container > div {
  background: white;
  padding: 1em;
}

/*======================================
            WelcomeText Section
======================================*/
.welcome-text {
  line-height: 1.5em;
  letter-spacing: 0.3em;
  text-align: center;
}
.main-section {
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-text-button {
  margin: 0 auto;
  position: fixed;
  left: 620px;
  z-index: 1;

}

/*======================================
            Section one
======================================*/
.features-one h2 {
  text-align: center;
}

.features-one-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1em;
}

/*======================================
            Section two
======================================*/
.features-two h2 {
  text-align: center;
}
.features-two-container {
  text-align: center;
}
/*======================================
            Section three
======================================*/
.features-three h2 {
  text-align: center;
}

.features-three-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1em;
  text-align: center;
}

.features-three-container img {
  width: 100%;
  height: 100%;
}
