/*======================================
            General
======================================*/
.section {
  height: 100%;
  margin-top: 50px;
}


/*======================================
            Main Section
======================================*/
.welcome_text {
  margin-top: 15%;
  padding: 5%;
  line-height: 1.5em;
  letter-spacing: 0.3em;
}

.welcome_text_button {
  padding: 10px;
  width: 20%;
  margin: 40px auto;
}
/*======================================
            Section one
======================================*/
.featuresOne {
  margin-top: 70px;
  padding: 50px;
  letter-spacing: 0.1em;
}

/*======================================
            Section two
======================================*/
.featuresTwo {
  margin-top: 170px;
  padding: 80px;
}

/*======================================
            Section three
======================================*/
.featuresThree {
  /* margin-top: 50px; */
  padding: 80px;
}
