.nav-bar {
  position: sticky;
  top: 0;
}

.nav-bar a {
}

ul {
  padding: 0;
  list-style-type: none;
}

.nav-bar ul {
  margin-left: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 15%);
  -ms-grid-column: repeat(4, 15%);
}
