.nav-bar{
  position: sticky;
  top: 0;
  background: #365437;
}

.nav-bar a{
  color: white;
}

ul{
  padding: 0;
  list-style-type: none;
  color:white;
}

.nav-bar ul{
  margin-left: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns:repeat(4, 15%);
}
